body{
    background-color: azure;
    background-image: url(./assets/pexels-photo-590016.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: poppins, sans-serif;
}

.MomDiv{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Cercle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(119, 120, 120, 0.315);
}

.fristCercle{
    background-image: url(./assets/pexels-photo-2882509.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fristCercle:hover{
    border: 3px solid rgba(0, 0, 0, 0.282);
    transform: translateY(-15px);
    transition: transform 0.5s ease;
}

.secondeCercle{
    background-image: url(./assets/pexels-photo-372787.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.secondeCercle:hover{
    border: 3px solid rgba(0, 0, 0, 0.282);
    transform: translateY(-15px);
    transition: transform 0.5s ease;
}

.thirdCercle{
    background-image: url(./assets/pexels-photo-607812.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thirdCercle:hover{
    border: 3px solid rgba(0, 0, 0, 0.282);
    transform: translateY(-15px);
    transition: transform 0.5s ease;
}

.hoverOver{
    font-size: x-large;
    position: absolute;
    top: 80px;
    left: 600px
}

.Part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    gap: 20px;
}

.DIV{
    font-size: large;
}

@media screen and (max-width: 500px) {
    .Cercle{
        width: 100px;
        height: 100px;
    }
    .hoverOver{
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 1050px) {
    .Cercle{
        width: 150px;
        height: 150px;
    }
    .hoverOver{
        display: none;
    }
}